<section>
  <h2>Formulario de Contacto</h2>
  <form class="formulario">
    <fieldset>
    <div>
      <label class="campo"for="">Nombre</label>
      <input type="text" placeholder="Nombre">
    </div>

    <div>
      <label class="campo"for="">Correo</label>
      <input type="text" placeholder="Correo">
    </div>

    <div>
      <label class="campo" for="">Comentarios</label>
      <textarea id="" name="" cols="30" rows="10"></textarea>
    </div>
    </fieldset>
  </form>
</section>