<section>
  <div class="container">
    <p class="pers-infor">My name is Abel Candia, I am a security guard and I am learning to program because it has always caught my attention and it is a better future for my family.</p>
  </div>
</section>
<section>
  <div class="center">
    <%= image_tag 'img.jpg'%>
    <p>My hobbies are listening to music, going to the gym and learning programming</p>
  </div>
  <div class="passions">
    <p>I am passionate about traveling and getting to know new places, I love going out with my wife to drink coffee or eat in new restaurants to get to know them</p>
  </div>
</section>
