
<h2>Formulario de Contacto</h2>
<form class="formulario">
  <fieldset>
    <legend>Contacto</legend>
    <label for="">Nombre</label>
    <input type="text" placeholder="Nombre">
    <label for="">Correo</label>
    <input type="text" placeholder="Correo">
    <label for="">Comentarios</label>
    <textarea id="" name="" cols="30" rows="10"></textarea>
  </fieldset>
</form>
