/* personal information */
.container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.fact {
    font-weight: 700;
    text-align: center;
}

/* Contact */
.formulario {
    width: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}
.formulario label {
    display: block;
    margin-top: 20px;
}